<div id="nav_menu">
    <div class="top-bar">
        <div class="user-info"><label><router-link :to="{ name: 'login' }">退出</router-link></label><span>彩虹测试-合作店</span></div>
    </div>
    <div class="left-bar clearfix">
        <div class="title-bar">违章处理系统</div>
        <el-col>
            <el-menu class="el-menu-vertical-demo" theme="dark">
              <router-link :to="{ name: 'order' }"><el-menu-item index="11"><i class="el-icon-menu"></i>我的订单</el-menu-item></router-link>
            </el-menu>
        </el-col>
    </div>
</div>